html,body{
    background-color: black;
    margin:0;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
  }

p,h2,h3{
    color: aliceblue;
    font-family: "Gill Sans", sans-serif;
}

.navbar-nav > li{
    color: black;
    font-family: "Gill Sans", sans-serif;
    margin-left: 2%;
    margin-right: 2%;
}

.navbar-nav{
    display: flex;
    justify-content: center;
}

.navbar-nav > li:hover {
    background-color: lightskyblue;
    border-radius: 30px;
    color: black;
}

.active{
    background-color: green;
    border-radius: 30px;
}

.navbar-nav li > a{
    color: aliceblue;
    font-size: 1.2rem;
    text-decoration: none;
}



.contact-container {
    display: flex;
    width: 60vw;
}

.contact-info{
    flex: 60%;
}

.contact-info p{
    margin-top: 5%;
    margin-bottom: 5%;
}

.email-block{
    padding-left: 5%;
    padding-right: 5%;
    flex: 40%;
    border-left: 0.1rem solid aliceblue;
}

.discord-link{
    width: 40%;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5vh;
    color: #fff;
}