#two{
  background-color: #12294d;
}

#two-h2{
  margin-top: 5%;
  color: aliceblue;
}

p {
  margin: 0;
}


.profile-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro{
  align-items: center;
  justify-content: center;
}


.about-me{
  padding-top: 5%;
  width: 60vw;
}

.latest-project{
  width: 60vw;
}



.social{
  margin-top: 2%;
}

.social-img{
    float: right;
    height: 2em;
    margin-right: 0.5em;
    object-fit: cover;
}

.button {
    display: inline-block;
    border-radius: 10px;
    background-color: #53ca32;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    width: 6em;
    height: 2em;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.latest{
  display: block;
  justify-content: center;
  color: aliceblue;
  width: 60vw;
}

.post-link{
  font-size: 1.5rem;
  color:aliceblue;
}
.post-link:hover{
  color: grey;
}

.card-list{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}

.title{
  color: white;
  height: 25%;

}

.project-block{
  display: flex;
  width: 100%;
}

.card-content{
  width: 70%;
  padding-left: 3%;
  color: black;
}


.location, .update-time, .camera, .project-card-content{
  color: aliceblue;
  height: 25%;
}
p span{
  background-color: aliceblue;
  font-size: 1rem;
}
.card-image{
  object-fit: cover;
  margin-top: 2%;
  height: 10vh;
  width: 100%;
}

.card-image-container{
  width: 10%;
}

.update-time{
  display: flex;
  width: 20%;
  color: aliceblue;
  height: auto;
  align-items: center;
  justify-content: center;
}



.sidebar > ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 5%;
  border-bottom: 2px solid aliceblue;
}

.sidebar > ul > li{
  width: 100%;
  height: auto;
}

.sidebar > ul > li {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: aliceblue;
}

.sidebar li:hover {
  background-color: aliceblue;
  color : black;
}

.active {
  background-color: aliceblue;
  color: black !important;
}