

#two-h2{
  margin-top: 5%;
  color: aliceblue;
}

.profile-vid{
  width: 40%;
  height: 40%;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  clip-path: inset(1px 1px)
}

.intro,.about,.interest{
  display: flex;
  min-height: 100vh;
}

.aoi-img-container{
  width: 40%;
  height: 50vh;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}



.imageWrapper, .typewriter {
  position: absolute;
  /*perspective: 500px; /* Adjust the perspective value to control the depth */
}

.typewriter{
  
  z-index: 9;
  left: 10%;
  top: 80%;
  padding-right: 5%;
  text-align: left;
  margin:auto 0;
  
}

#img-text{
  color: black;
  font-size: 14px;
  background-color: white;
  font-family: 'Roboto Mono', monospace;
}

.aoi-img-responsive{
  display: none;
}

.aoi-img{
  object-fit: cover;
  width: 100%;
  transition-property: transform;
}

.about-me,.aoi{
  padding-top: 5%;
  width: 60%;
  height: 60%;
  margin-top: auto;
  margin-bottom: auto;
}

.socials{
  margin-top: 2%;
}

.social-img{
    float: right;
    height: 2em;
    margin-right: 0.5em;
    object-fit: cover;
}

.button {
    display: inline-block;
    border-radius: 10px;
    background-color: #53ca32;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    width: 6em;
    height: 2em;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.latest{
  display: block;
  justify-content: center;
  color: aliceblue;
}

a{
  color:aliceblue;
}

a:hover{
  color: grey;
}

.card-list{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}

.title{
  color: white;
  height: 25%;

}

.project-block{
  margin-top: 2%;
  display: flex;
  width: 100%;
}

.card-content{
  width: 70%;
  padding-left: 3%;
  color: black;
}


.location, .update-time, .camera, .project-card-content{
  color: aliceblue;
  height: 25%;
}
p span{
  background-color: aliceblue;
  font-size: 1rem;
}
.card-image{
  object-fit: cover;
  margin-top: 2%;
  height: 10vh;
  width: 100%;
}

.card-image-container{
  width: 10%;
}

.update-time{
  display: flex;
  width: 20%;
  color: aliceblue;
  height: auto;
  align-items: center;
  justify-content: center;
}

.sidebar > ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 5%;
  border-bottom: 2px solid aliceblue;
}


.sidebar > ul > li {
  display: block;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
  color: aliceblue;
}

.sidebar li:hover {
  background-color: #5293BB;
  color : black;
}

.transform-state{
  transform-origin: left center;
  transform: perspective(400px) rotateY(45deg) scale(1, 1);
  transition-property: transform;
  position: relative;
}
.du{
  transition-duration: 2s;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100vh;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}
  
.popup:target {
  opacity: 1;
  visibility: visible;
}
  
.popup:target .popup_content {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
  
.popup_content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #fff;
  width: 60%;
  height: 80%;
  padding-top: 4rem;
  text-align: center;
  border-radius: 5px;
  font-size: 3.5rem;
  color: #333;
  opacity: 0;
  transition: all .5s 0s;
}
  
.popup_close {
  position: absolute;
  top: .5rem;
  right: 1rem;
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  transition: all .4s;
  text-decoration: none;
  color: inherit;
}  
.popup_close:hover {
  color: #003A6B;
}

@media (max-width:990px){
  .intro,.about,.interest{
    display: block;
    min-height: 100vh;
    
  }

  .about-me,.aoi{
    padding-top: 5%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }
  .profile-vid{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    clip-path: inset(1px 1px)
  }
  .aoi-img-responsive{
    display:block;
    width: 100%;
    transition-property: transform;
  }

  .aoi-img-container{
    display: none;
  }
  .popup_content{
    width: 90%;
  }
}


