

#two-h2{
  margin-top: 5%;
  color: aliceblue;
}

.profile-vid{
  width: 40%;
  height: 40%;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  clip-path: inset(1px 1px)
}

.intro,.about,.interest{
  display: flex;
  min-height: 100vh;
}

.aoi-img-container{
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
}

.aoi-img{
  object-fit: cover;
  width: 100%;
  
}

.about-me,.aoi{
  padding-top: 5%;
  width: 60%;
  height: 60%;
  margin-top: auto;
  margin-bottom: auto;
}

.socials{
  margin-top: 2%;
}

.social-img{
    float: right;
    height: 2em;
    margin-right: 0.5em;
    object-fit: cover;
}

.button {
    display: inline-block;
    border-radius: 10px;
    background-color: #53ca32;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    width: 6em;
    height: 2em;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.latest{
  display: block;
  justify-content: center;
  color: aliceblue;
}

a{
  color:aliceblue;
}
a:hover{
  color: grey;
}

.card-list{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}

.title{
  color: white;
  height: 25%;

}

.project-block{
  margin-top: 2%;
  display: flex;
  width: 100%;
}

.card-content{
  width: 70%;
  padding-left: 3%;
  color: black;
}


.location, .update-time, .camera, .project-card-content{
  color: aliceblue;
  height: 25%;
}
p span{
  background-color: aliceblue;
  font-size: 1rem;
}
.card-image{
  object-fit: cover;
  margin-top: 2%;
  height: 10vh;
  width: 100%;
}

.card-image-container{
  width: 10%;
}

.update-time{
  display: flex;
  width: 20%;
  color: aliceblue;
  height: auto;
  align-items: center;
  justify-content: center;
}

.sidebar > ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 5%;
  border-bottom: 2px solid aliceblue;
}
.aoi-img-responsive{
  display: none;
}


.sidebar > ul > li {
  display: block;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
  color: aliceblue;
}

.sidebar li:hover {
  background-color: #5293BB;
  color : black;
}

@media (max-width:990px){
  .intro,.about,.interest{
    display: block;
    min-height: 100vh;
    
  }

  .about-me,.aoi{
    padding-top: 5%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }
  .profile-vid{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    clip-path: inset(1px 1px)
  }
  .aoi-img{
    display: none;
  }
  .aoi-img-responsive{
    display:block;
    width: 100%;
  }
}


