.project-box{
    margin-top: 3%;
    display: flex;
    border: solid;
}

.project-list{
    width: 60vw;
}

.project-container{
    display:flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: aliceblue;
}

.project-thumbnail{
    width: 30%;
}

.thumbnail{
    object-fit: cover;
    width: 100%;
}

.project-content{
    margin-left: 5%;
}