{% extends "base.html" %}
{% load static %}
{% block homestyle %}
<link  rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}


{% block homepage %}
<section id="one">
    <div class="intro">
        <div>
            <img class="profile-image" src="{% static 'img/joey.png'%}">
        </div>
        <div class="about-me">
            <p>{% lorem 1 b %}</p>
            <div class="socials"> 
                <a href="https://github.com/chaoyen199611" target="_blank"><img class="social-img" src="{% static 'img/github.png'%}"></a>
                <a href="https://www.linkedin.com/in/joey-huang-9b7357189/" target="_blank"><img class="social-img" src="{% static 'img/linkedin.png'%}"></a>
                <a href="https://www.instagram.com/chaoyen_huang/" target="_blank"><img class="social-img" src="{% static 'img/instagram.png'%}"></a>
                <a href="https://discord.gg/94uaEvaEC9" target="_blank"><img src="https://discordapp.com/api/guilds/889508680733691954/widget.png?style=shield" style="float:right;margin-right: 0.5em" alt=""></a>
                <button class="button" style="vertical-align:middle"><span>My CV </span></button>
            </div>
        </div>
    </div>
</section>

<section id="two">
    <div class="latest-project">
        <h2 style="text-align: center;" id="two-h2">Latest Post</h2>
        <div class="latest">
            <div class="sidebar" data-url="{% url 'home-page' %}">
                <ul>
                    <li class="latest-nav active">All</li>
                    <li class="latest-nav">Projects</li>
                    <li class="latest-nav">Blogs</li>
                    <li class="latest-nav">Photos</li>
                    <li class="latest-nav">Travel</li>
                </ul>
            </div>
            <div class="card-list">
                {% for post in posts %}
                <div class="project-block">
                    <div class="card-image-container">
                        <img class="card-image" src="{{ post.thumbnail.url }}" >
                    </div>
                    <div class="card-content">
                        <div id="post-category">{{ post.category }}</div>
                        {% if post.category == "Project" %}
                            <a class="post-link" href="{% url 'project-detail' post.id %}">
                        {% elif post.category == "Travel" %}
                            <a class="post-link" href="{% url 'travel-detail' post.id %}">
                        {% elif post.category == "Blog" %}
                            <a class="post-link" href="{% url 'blog-page' %}">
                        {% elif post.category == "Photo" %}
                            <a class="post-link" href="#">
                        {% endif %}
                        {{ post.title }}</a>
                    </div>
                    <div class="update-time">{{ post.post_time}}</div>
                </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% if is_superuser %}
<section id="form-section">
    <form id="create-post" method="post" action="{% url 'home-page' %}" enctype="multipart/form-data">
        <h2>Create Post</h2>
        {% csrf_token %}
        <div class="form-field">Title</div>
        <div id="form-title">{{ form.title }}</div>
        <div class="form-field">Category</div>
        <div id="form-category">{{ form.category }}</div>
        <div class="form-field">Description</div>
        <div id="form-description">{{ form.description }}</div>
        <div class="form-field">Thumbnail</div>
        <div id="form-thumbnail">{{ form.thumbnail }}<span>Upload</span></div>
        <div id="basepost-preview-img">
            <img id="preview-image"/>
        </div>
        <button class="button" type="submit">Submit</button>
        <button class="button" type="submit">Add Field</button>
    </form>
    <div id="category-chose"></div>
</section>
{% endif %}

{% endblock %}



{% block homepagescript %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script defer src="{% static 'js/home.js' %}"></script>
{%endblock%}