{% extends "base.html" %}
{% load static %}
{% block style %}
<link  rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}


{% block homepage %}
<section id="one">
    <div class="intro">
        <div>
            <img class="profile-image" src="{% static 'img/joey.png'%}">
        </div>
        <div class="about-me">
            <p>{% lorem 1 b %}</p>
            <div class="socials"> 
                <a href="https://github.com/chaoyen199611" target="_blank"><img class="social-img" src="{% static 'img/github.png'%}"></a>
                <a href="https://www.linkedin.com/in/joey-huang-9b7357189/" target="_blank"><img class="social-img" src="{% static 'img/linkedin.png'%}"></a>
                <a href="https://www.instagram.com/chaoyen_huang/" target="_blank"><img class="social-img" src="{% static 'img/instagram.png'%}"></a>
                <a href="https://discord.gg/94uaEvaEC9" target="_blank"><img src="https://discordapp.com/api/guilds/889508680733691954/widget.png?style=shield" style="float:right;margin-right: 0.5em" alt=""></a>
                <button class="button" style="vertical-align:middle"><span>My CV </span></button>
            </div>
        </div>
    </div>
</section>
<h2 style="text-align: center;">Latest Post</h2>
<section id="two">
    <div class="latest">
        <div class="sidebar">
            <a href="#" class="w3-bar-item w3-button">All</a>
            <a href="#" class="w3-bar-item w3-button">Projects</a>
            <a href="#" class="w3-bar-item w3-button">Travel</a>
            <a href="#" class="w3-bar-item w3-button">Photographic</a>
            <a href="#" class="w3-bar-item w3-button">Reviews</a>
        </div>
        <div class="card-list">
            <div class="row">
                <div class="column">
                    <div class="card">
                        <div class="category">
                            <div class="category-tag">
                                Travel
                            </div>
                        </div>
                        <img src="{% static 'img/IMG_4612.jpeg' %}" class="card-image">
                        <p class="card-desc">Pinnipeds, commonly known as seals,[a] are 
                            a widely distributed and diverse clade of carnivorous, fin-footed, 
                            semiaquatic marine mammals. They comprise the extant families Odobenidae (
                                whose only living member is the walrus), Otariidae (the eared seals: 
                                sea lions and fur seals), and Phocidae (the earless seals, or true seals).</p>
                        <div class="card-content">
                            <div class="title">
                                <p><span>2023 APSCON</span></p>
                            </div>
                            <div class="location">
                                <p><span>Bengaluru, India</span></p>
                            </div>
                            <div class="update-time">
                                <p><span>Jan, 2023</span></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="column">
                    <div class="card">
                        <div class="content">
                        
                        </div>
                        <div class="flap"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <div class="content">
                        
                        </div>
                        <div class="flap"></div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="content">
                        
                        </div>
                        <div class="flap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}