{% extends "base.html" %}
{% load markdown_filters %}
{% load static %}
{% block homestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}">
<link  rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">

{% endblock %}

{% block homepage %}
<section id="one">
    <div class="intro">
        <video class="profile-vid" autoplay loop muted name="Video Name">
            <source src="{% static 'img/balls.mp4'%}">
        </video>
        <div class="about-me">
            <h1>Hello! I'm Joey Huang.</h1>
            <p> I graduated from National Sun Yat-Sen University's Department of Computer
                Science and Engineering in the class of 2023, located in Kaosiung, Taiwan.
            </p>
            
        </div>
    </div>
    <div class="about">
        <div class="about-me">
            <h1>About Me</h1>
            <hr>
            <p>As a recent university graduate, I am still exploring and searching for the fields 
                of computer science that I am truly passionate about. Don't get me wrong, 
                I really enjoy building things through programming and want to dedicate myself 
                to the software world. During my four years in college, I completed several 
                projects. These included using Neural Architecture Search (NAS) for predicting 
                demand in a Bike Sharing System (BSS), as well as various course projects. One 
                such project was developing a basic smart plant self care system with Arduino.</p>
            <br>
            <p>I want to study or work abroad in the future. Doing so will help me become a 
            global citizen with a global mindset, ready to overcome different challenges. 
            Although I have been living in Taiwan since I was born, I don’t want to limit my 
            life experiences only to this country. I aspire to explore the world and push myself 
            to new heights.</p>
            <br>
            <p>This website is a place for me to upload my recent researches and side projects. 
            also I will update some personal thought on areas that I’m interesting in. Below 
            this section, I have provided some links, including my CV and social medias. 
            If you are interested in what I do or just want to have a chat, feel free to 
            contact me through those links. I am always happy to meet new friends! </p>
            <div class="socials"> 
                <a href="https://github.com/chaoyen199611" target="_blank"><img class="social-img" src="{% static 'img/github.png'%}"></a>
                <a href="https://www.linkedin.com/in/joey-huang-9b7357189/" target="_blank"><img class="social-img" src="{% static 'img/linkedin.png'%}"></a>
                <a href="https://www.instagram.com/chaoyen_huang/" target="_blank"><img class="social-img" src="{% static 'img/instagram.png'%}"></a>
                <a href="#" target="_blank"><img class="social-img" src="{% static 'img/cv.png'%}"></a>
            </div>
        </div>
        <div id="timeline-content">
            <ul class="timeline">
                <li class="event" data-date="Sep. 2019">
                    <p>Started my college life at National Sun Yat-Sen University</p>
                    <div class="desp">
                    </div>
                </li>
                <li class="event" data-date="Mar. 2023">
                    <p>started my internship in software engineering at <a href="https://www.youbike.com.tw/region/main/" target="_blank">Youbike.</a></p>
                    <div class="desp">
                        Youbike is a bikeshare program operator in Taiwan. 
                    </div>
                </li>
                <li class="event" data-date="Jun. 2023">
                    <p>BSc. in Computer Science and Engineering at National Sun Yat-Sen University</p>
                </li>
            </ul>
        </div>

    </div>
    <div class="interest">
        <div class = "aoi-img-container">
            <img class="aoi-img du" src="{% static 'img/city.jpg'%}">
        </div>
        <div class="aoi">
            <h1>Area of Interest</h1>
            <hr>
            <img class="aoi-img-responsive du" src="{% static 'img/city.jpg'%}">
            <h2>Smart City</h2>
            <p>Since I was born, I have always lived in the city but never thought about or been involved in city planning, 
                transportation management, or related fields. The only connection I have with the city is my enjoyment 
                of simulation games related to cities, such as City Skylines, Transport Fever 2, and others. 
                I like building my own city, but I always encountered many problems due to poor planning. 
                Recently, both domestic and foreign media reported on the terrible situation of transportation 
                in Taiwan, which made me started to think about how to apply what I have learned to improve 
                city planning and transportation and also considered how I could get into this field.</p>
            <br>
            <p>Thanks to the rapid improvement of computing capabilities, artificial intelligence (AI) has 
                started to emerge and become involved in our everyday lives. These fields, such 
                as automobile, traffic prediction and sensor technologies, create magnificent 
                potential for smart city development. I believe that in the near future, we can not 
                only improve city transportation, but also innovate a completely different lifestyle 
                in cities than what we have today.</p>
            <h2>Deep Learning</h2>
            <p>I am amazed by what ChatGPT can accomplish now, and I am also interested in how it was 
                built and what the fundamentals of this LLM are. Additionally, I am interested in Graph 
                Neural Networks (GNN), because I believe most real-world problems can be turned into 
                graphs. If we can use deep learning to properly solve graph-related problems, as we 
                did with image recognition and natural language processing (NLP), it could be a game 
                changer.</p>
        </div>
    </div>
</section>

<section id="two">
    <div class="latest-project">
        <h2 style="text-align: center;" id="two-h2">Latest Post</h2>
        <div class="latest">
            <div class="sidebar" data-url="{% url 'home-page' %}">
                <ul>
                    <li class="latest-nav active">All</li>
                    <li class="latest-nav">Projects</li>
                    <li class="latest-nav">Blogs</li>
                    <li class="latest-nav">Photos</li>
                    <li class="latest-nav">Travel</li>
                </ul>
            </div>
            <div class="card-list">
                {% for post in posts %}
                <div class="project-block">
                    <div class="card-image-container">
                        <img class="card-image" src="{{ post.thumbnail.url }}" >
                    </div>
                    <div class="card-content">
                        <div id="post-category">{{ post.category }}</div>
                        {% if post.category == "Project" %}
                            <a class="post-link" href="{% url 'project-detail' post.id %}">
                        {% elif post.category == "Travel" %}
                            <a class="post-link" href="{% url 'travel-detail' post.id %}">
                        {% elif post.category == "Blog" %}
                            <a class="post-link" href="{% url 'blog-page' %}">
                        {% elif post.category == "Photo" %}
                            <a class="post-link" href="#">
                        {% endif %}
                        {{ post.title }}</a>
                    </div>
                    <div class="update-time">{{ post.post_time}}</div>
                </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block homepagescript %}
<script defer src="{% static 'js/home.js' %}"></script>
{%endblock%}