{% extends "base.html" %}
{% load markdown_filters %}


{% load static %}
{% block projectdetail_style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/projectdetail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/md.css' %}">
{% endblock %}

{% block projectdetail %}
<div class="projectcontainer">
    <div class="project">
        <h2>{{ project.title }}</h2>
        <div class="project-desc">{{ project.description }}</div>
        <div class="project-box">
            <div class="project-content">
                {{ project.maincontent|markdown_tags }}
            </div>
            <div class="project-article-nav">
                <nav id="article-nav">
                    <ul style="list-style-type:none;">
                        {% for heading in headings %}
                        <li><a href="#{{ heading }}">{{heading}}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
